@import 'variables';
@import 'lib/elements';

.footer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: @voidBackground;

  .huge.ui.header {
    margin: 0;
    padding: 15vh 1em 5vh;
    color: @primaryHeaderColor;
    font-size: 1.5em;

    > small {
      display: block;
      margin-top: 1em;
      color: @secondaryHeaderColor;
      font-size: 60%;
    }
  }

  .ui.action.input {
    width: 85%;
    margin: 1em auto;

    p {
      margin: 0 0 1em;
      color: @secondaryFontColorVariation;
    }

    input {
      height: 3em;
      background: @labelBackground;
      border: 0;
      border-radius: 4px;
    }

    button {
      position: relative;
      bottom: 3em;
      float: right;
      cursor: pointer;
      margin: 5px;
      padding: 5px 20px;
      background: @labelBackground;
      border: 2px solid @highlightFontColor;
      border-radius: 4px;
      color: @highlightFontColor;
      line-height: 1.5;
      font-size: 1em;
      font-weight: normal;
      text-transform: none;
    }

    button:hover,
    button:focus {
      background: @highlightFontColor;
      color: @secondaryHeaderColor;
    }

    button[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
      background: @labelBackground;
      color: @highlightFontColor;
    }
  }

  @media (min-width: @tabletWidth) {
    .huge.ui.header {
      font-size: 2em;
    }
  }

  @media (min-width: @mediumDesktopWidth) {
    .huge.ui.header {
      font-size: 2.5em;

      small {
        font-size: 50%;
      }
    }

    .ui.action.input {
      width: 70%;
    }
  }

  @media (min-width: @largeDesktopWidth) {
    .huge.ui.header {
      font-size: 3em;
    }

    .ui.action.input {
      width: 60%;
    }
  }

  @media (max-width: @phoneWidth) {
    .huge.ui.header {
      font-size: 1.2em;
    }

    .ui.action.input {

      .message,
      input {
        font-size: 0.8em;
      }

      button {
        padding: 3px 8px;
        font-size: 0.8em;
      }
    }
  }

  @media (min-width: @phoneWidth) and (max-width: @tabletWidth) {
    .huge.ui.header {
      font-size: 2em;
    }
  }
}

.layout.scrolled {
  .home.view {
    .footer {
      z-index: 3;
    }
  }
}
