@import 'variables';
@import 'lib/elements';

.layout {

  .home.view {
    overflow: hidden;

    .home-main {
      position: relative;
      z-index: 4;
      margin: 100vh 0;
      background: @contentBackground;

      .home-section {

        .view-title {
          margin: 0 !important;
          padding: 0 1em !important;
          background: #3fb094;
          text-transform: uppercase;
          box-shadow: inset 0px 10px 10px -10px rgba(22, 22, 22, 0.8) ,
                      inset 0px -10px 10px -10px rgba(22, 22, 22, 0.8) !important;

          .header {
            padding: 1em 0;
            color: @secondaryFontColor;
            font-family: 'Ubuntu', sans-serif;

            span {
              display: block;
            }

            span:nth-child(2) {
              color: #feeb7f;
            }
          }
        }

        .section-content {
          padding: 2em 0 3em!important;

          .header {

            .label {
              display: inline-block;
              background: @labelBackground;
              padding: .5em;
              font-size: 1.25em;
              text-transform: uppercase;
              border: 5px solid;
            }

            p {
              font-size: 1.25em;
              font-weight: 300;
            }
          }

          .content {

            .block {
              padding: 4% !important;

              .header {
                text-align: center;
              }

              .icon-wrapper {

                i.fa {
                  font-size: 10em;
                }

                i.visible-mobile.fa {
                  padding: 10% 0;
                }
              }

              p {
                font-size: 1.25em;
              }

              .card {
                cursor: pointer;
              }

              .icon.header {
                width: 100%;
                color: #FF995E;
                font-size: 2em;
                text-align: center;
              }
            }
          }

          .mission.content {

            .block:nth-child(2) {

              .center.aligned.column {
                float: left;
              }
            }
          }
        }
      }

      @media (min-width: @tabletWidth) {
        .home-section {

          .view-title {

            .header {
              font-size: 2.5em;
            }
          }

          .section-content {

            .content {

              .block {
                padding: 4% !important;

                .header {
                  text-align: left;
                }

                .icon.header {
                  font-size: 3em;
                }
              }
            }

            .heroes.content {

              .ui.page.grid {
                padding: 0 8%;

                .block {
                  padding: 0 !important;

                  .card {
                    padding: 5px;
                    transform: skew(-5deg);
                    -o-transform: skew(-5deg);
                    -moz-transform: skew(-5deg);
                    -webkit-transform: skew(-5deg);
                    -webkit-backface-visibility: hidden;

                    .image {

                      .avatar {
                        width: 90%;
                        border: 3px inset @primaryFontColor;
                        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                        filter: gray;
                        -webkit-filter: grayscale(.9);
                        -moz-box-shadow: 5px 5px 10px -5px #000;
                        -webkit-box-shadow: 5px 5px 10px -5px #000;
                        box-shadow: 5px 5px 10px -5px #000;
                        transition: all 150ms ease-out;
                      }
                    }

                    .content {
                      display: none;

                      .header {
                        text-align: center;

                        small {
                          display: block;
                          font-weight: 300;
                        }
                      }
                    }
                  }

                  .card:hover,
                  .card:focus {
                    position: relative;
                    bottom: 20px;
                    right: 10px;

                    .image {

                      .avatar {
                        width: 95%;
                        border: #3f324d inset 6px;
                        filter: none;
                        -webkit-filter: grayscale(0);
                        -webkit-box-shadow: 20px 20px 30px -10px #000;
                        -moz-box-shadow: 20px 20px 30px -10px #000;
                        box-shadow: 20px 20px 30px -10px #000;
                        transition: all 150ms ease-out;
                      }
                    }

                    .content {
                      display: block;
                      position: absolute;
                      bottom: 11px;
                      left: 10px;
                      width: 91%;
                      background: rgba(254, 235, 127, 0.9);
                      border-top: 5px solid;
                    }
                  }
                }
              }
            }
          }
        }
      }

      @media (min-width: @mediumDesktopWidth) {
        .home-section {

          .view-title {

            .header {
              font-size: 3em;
            }
          }

          .section-content {

            .header {

              .label {
                font-size: 1.5em;
              }

              p {
                font-size: 1.5em;
              }
            }

            .content {

              .block {

                .header {
                  font-size: 2em;
                }

                p {
                  font-size: 1.5em;
                }
              }
            }

            .heroes.content {

              .ui.page.grid {
                padding: 0 12%;

                .block {

                  .card:hover,
                  .card:focus {

                    .content {
                      width: 92%;
                    }
                  }
                }
              }
            }
          }
        }
      }

      @media (min-width: @largeDesktopWidth) {
        .home-section {

          .view-title {

            .header {
              font-size: 3.5em;
            }
          }

          .section-content {

            .header {

              .label {
                font-size: 2em;
              }

              p {
                font-size: 2em;
              }
            }

            .content {

              .block {

                .header {
                  font-size: 2.5em;
                }

                .icon-wrapper {

                  i.fa {
                    font-size: 15em;
                  }
                }

                p {
                  font-size: 2em;
                }
              }
            }

            .heroes.content {

              .ui.page.grid {
                padding: 0 14%;

                .block {

                  .card:hover,
                  .card:focus {

                    .content {
                      width: 93%;
                    }
                  }
                }
              }
            }
          }
        }
      }

      @media (max-width: @phoneWidth) {
        .home-section {

          .view-title {

            .header {
              font-size: 2em;
            }
          }

          .section-content {

            .content {

              .block {
                padding: 4% 0 !important;
                width: 100%;
              }
            }

            .heroes.content {

              .block {
                padding: 4% !important;

                .card {
                  border: 5px solid;
                  -moz-box-shadow: 0 0 10px 0 #000;
                  -webkit-box-shadow: 0 0 10px 0 #000;
                  box-shadow: 0 0 10px 0 #000;

                  .image {

                    .avatar {
                      width: 100%;
                    }
                  }

                  .content {
                    position: relative;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background: @labelBackground;
                    border-top: 5px solid;

                    .header {
                      margin: 0;
                      padding: 1em;

                      small {
                        display: block;
                        font-weight: 300;
                      }
                    }
                  }
                }
              }
            }

            .contact.content {

              .block {
                width: 33.3333%;
              }
            }
          }
        }
      }

      @media (min-width: @phoneWidth) and (max-width: @tabletWidth) {
        .home-section {

          .view-title {

            .header {
              font-size: 2.5em;
            }
          }

          .section-content {

            .heroes.content {

              .block {
                padding: 4% !important;
                width: 50%;

                .card {
                  border: 5px solid;
                  -moz-box-shadow: 0 0 10px 0 #000;
                  -webkit-box-shadow: 0 0 10px 0 #000;
                  box-shadow: 0 0 10px 0 #000;
                  transform: skew(-3deg);
                  -o-transform: skew(-3deg);
                  -moz-transform: skew(-3deg);
                  -webkit-transform: skew(-3deg);
                  -webkit-backface-visibility: hidden;

                  .image {

                    .avatar {
                      width: 100%;
                    }
                  }

                  .content {
                    position: relative;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background: @labelBackground;
                    border-top: 5px solid;

                    .header {
                      margin: 0;
                      padding: 1em;

                      small {
                        display: block;
                        font-weight: 300;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .home-section:nth-child(1) {

        .view-title {
          box-shadow: 0px -10px 10px -10px rgba(22, 22, 22, 0.8) ,
          inset 0px -10px 10px -10px rgba(22, 22, 22, 0.8) !important;

          span:nth-child(2) {
            color: @secondaryFontColor;
          }

          span:nth-child(3) {
            color: @secondaryHeaderColor;
          }
        }
      }

      .home-section:nth-child(2) {

        .view-title {
          background: @voidBackground;
          padding: 0 !important;

          .background.image {
            background: url(/images/backgrounds/jupiter.png);
            background-size: inherit;
            background-position: 15% 75%;
            background-repeat: no-repeat;
            padding: 35vh 8% 50vh !important;

            .header {
              color: @secondaryFontColor;
              text-shadow: 1px 1px 1px #000;

              span:nth-child(2) {
                color: @secondaryHeaderColor;
              }
            }
          }
        }
      }

      .home-section:nth-child(3) {

        .view-title {
          background: @voidBackground;
          padding: 0 !important;

          .background.image {
            background: url(/images/backgrounds/saturn.png);
            background-size: inherit;
            background-position: 40% 75%;
            background-repeat: no-repeat;
            padding: 35vh 8% 50vh !important;

            .header {
              color: @secondaryFontColor;
              text-shadow: 1px 1px 1px #000;

              span:nth-child(2) {
                color: @secondaryHeaderColor;
              }
            }
          }
        }
      }
    }
  }
}
