// General styles, e. g. for the body tag
@import 'helpers';
@import 'variables';
@import 'lib/elements';

/* -------------------
    Layout
   ------------------- */

body, .layout {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  color: @primaryFontColor;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  transition: 0.3s color;

  &:hover {
    color: @primaryLinkHoverColor;
  }
}

.icon {
  &.orange {
    color: @primaryIconColor;
  }
}

.ui.void.button {
  background: transparent;
  color: @secondaryFontColor;
  border: 1px solid @contentBackground;

  &:hover,
  &:focus {
    background: transparent;
    color: @highlightFontColor;
    border: 1px solid @highlightFontColor;
  }
}

.ui.dimmer {
  background: @voidBackground;

  .ui.text.loader {
    color: rgba(255, 153, 94, 0.8);
  }
}
