// Declare variables for use in all the template specific / main less files

@primaryLinkHoverColor: #682d71;
@secondaryLinkHoverColor: #bd6ddb;
@primaryFontColor: #09050D;
@secondaryFontColor: #fff;
@secondaryFontColorVariation: #DDDDDD;
@primaryHeaderColor: #ff995e;
@secondaryHeaderColor: #feeb7f;
@highlightFontColor: #3fb094;
@primaryIconColor: #ff995e;

@voidBackground: #09050D;
@contentBackground: #fff;
@menuBackground: #ff995e;
@labelBackground: #feeb7f;

// Width variables
@largeDesktopWidth: 1280px;
@mediumDesktopWidth: 992px;
@tabletWidth: 768px;
@phoneWidth: 480px;

@loginFormWidth: 80%;
