<template name="footerWizard">
  {{#autoForm schema=wizardSchema id='wizardAction' validation='keyup'}}
    <section class="wizard-step action-input {{switchClass}}">
      <div class="ui action input">
        {{> afFieldInput name='site' placeholder='your website url...'}}
        <div class="ui button">
          <p>Analyze</p>
        </div>
      </div>
      {{#if afFieldIsInvalid name='site'}}
        <p class="error-notice">{{{afFieldMessage name='site'}}}</p>
      {{/if}}
    </section>
    <section class="wizard-step info-input {{switchClass}}">
      part dues
    </section>
  {{/autoForm}}
</template>
