<template name="footer">
  <footer class="center aligned {{isActive}} footer">
    <h1 class="huge center aligned ui header">
      Do you want more traffic?
      <small>
        Looks like a business in Astoria, New York<br/>needs our attention! Is this you?
      </small>
    </h1>
    <div class="ui action input">
      <input type="text" placeholder="you website url...">
      <div class="ui button">
        <p>Analyze</p>
      </div>
    </div>
    {{#if showForm}}

    {{/if}}
  </footer>
</template>
