<template name="case">
  <div class="case view {{effect}}">
    <header class="center aligned header-wrapper" style="background: url({{jumbo}});">
      <img class="logo" src="{{logo}}" />
      <h1 class="huge center aligned ui header">
        {{title}}
      </h1>
    </header>
    <article class="ui stackable case-main grid">
      {{#each sections}}
        {{> caseSection}}
      {{/each}}
    </article>
    <footer class="center aligned footer">
      <!--
      <h1 class="huge center aligned ui header">
        <small></small>
      </h1>
      -->
      <div class="ui navigation">
        <p class="actions">
          <a href="{{pathFor 'home'}}" class="ui void button">Take me home</a>
        </p>
      </div>
    </footer>
  </div>
</template>
